public net.minecraft.util.datafix.fixes.ChunkPalettedStorageFix f_15048_ # FLOWER_POT_MAP
public net.minecraft.util.datafix.fixes.ChunkPalettedStorageFix f_15051_ # NOTE_BLOCK_MAP

# blueprint renderer
public net.minecraft.client.Camera m_90581_(Lnet/minecraft/world/phys/Vec3;)V # setPostion
## blending
public com.mojang.blaze3d.platform.GlStateManager BLEND # BLEND
public com.mojang.blaze3d.platform.GlStateManager$BlendState
public com.mojang.blaze3d.platform.GlStateManager$BooleanState
public com.mojang.blaze3d.platform.GlStateManager$BooleanState f_84586_ # enabled

# DO upgrade from non DO world
public net.minecraft.server.level.ChunkMap m_140427_(Lnet/minecraft/world/level/ChunkPos;)Lnet/minecraft/nbt/CompoundTag; #readChunk
public net.minecraft.server.MinecraftServer f_129744_ #storageSource

# world gen settings
public net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator m_224256_(Lnet/minecraft/world/level/chunk/ChunkAccess;Lnet/minecraft/world/level/StructureManager;Lnet/minecraft/world/level/levelgen/blending/Blender;Lnet/minecraft/world/level/levelgen/RandomState;)Lnet/minecraft/world/level/levelgen/NoiseChunk; # createNoiseChunk
# MC 26.3: surface rules became the material-rule system
public net.minecraft.world.level.levelgen.material.MaterialRuleContext <init>(Lnet/minecraft/world/level/levelgen/material/MaterialSystem;Lnet/minecraft/world/level/levelgen/RandomState;Lnet/minecraft/world/level/levelgen/densityfunction/DensityVolume;Lnet/minecraft/world/level/levelgen/densityfunction/DensitySamplerSet;Ljava/util/function/Function;Lnet/minecraft/world/level/levelgen/WorldGenerationContext;Ljava/util/Set;)V
public net.minecraft.world.level.levelgen.material.MaterialRuleContext updateXZ(IIII)V # updateXZ
public net.minecraft.world.level.levelgen.material.MaterialRuleContext updateY(IIII)V # updateY

# keybinds
public net.minecraft.client.KeyMapping f_90818_ # clickCount

public net.minecraft.world.level.block.state.BlockBehaviour f_60443_ # hasCollision
